:local .StatsPage {
  position: relative;
  height: auto;
  min-height: 100vh;
  margin : 30px 0px 0px 0px;
  padding: 20px 0px;
}

:local .StatsPageContainer {
    text-align: center;
    max-width: 600px;
    margin: auto;
    left : 0;
    right : 0;
}

:local .StatsComponent {
  margin-top: 50px;
  /* display: flex;
  justify-content: space-around; */
}

:local .StatsFrame1 {
  display: flex;
  flex-direction: column;
  order: 1;
  justify-content: space-between;
  text-align: left;
  border: 1px solid white;
  max-width: 200px;
}

:local .StatsFrame2 {
  display: flex;
  flex-direction: column;
  order: 2;
  justify-content: space-between;
  text-align: left;
  border: 1px solid white;
  max-width: 200px;
}

:local .StatsFrame3 {
  display: flex;
  flex-direction: column;
  order: 3;
  justify-content: space-between;
  text-align: left;
  border: 1px solid white;
  max-width: 200px;
}

:local .StatsFrameTitle {
  order: 1;
  font-weight: bold;
  font-size: 16px;
  margin: 16px;
}

:local .StatsFrameNumber {
  order: 2;
  font-weight: bold;
  align-self: center;
  font-size: 40px;
  margin: 16px 20px 0px 0px;
}

:local .StatsFrameDesc {
  order: 3;
  font-weight: bold;
  text-align: right;
  align-self: right;
  margin: 0px 10px 16px 16px;
  font-size : 20px;
  /*white-space: nowrap;
  text-overflow: ellipsis;*/
  overflow: auto;
  max-width: 200px;
}

:local .BotanComponent {
  margin-top: 50px;
  text-align: center;
}

:local .NaiyouComponent {
  margin-top: 50px;
  text-align: left;
}

:local .aaaa {
  margin-top: 50px;
  color: rgb(100, 100, 100);
  border-bottom: dashed 2px rgb(100, 100, 100);
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}

:local .center {
  display : flex; 
  justify-content: space-around;
}