:local .CampaignCreatePage {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
}

:local .CampaignCreatePageContainer {
    text-align: center;
    max-width: 900px;
    margin: auto;
    left : 0;
    right : 0;
}

:local .formCell {
  display : flex ; 
  justify-content: center;
  align-items : flex-end;
}

:local .CamapignCreateFirstPage {
  margin-top: 40px;
}

:local .RewardMessageSetUpComponentContainer {
  margin-top:40px;
}

:local .cellImage {
  max-height : 150px ; 
  max-width : 150px ; 
}

