:local .StatsPage {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
}

:local .StatsPageContainer {
    text-align: center;
    max-width: 600px;
    margin: auto;
    left : 0;
    right : 0;
}
