:local .CampaignPage {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 80px 20px;
}

:local .CampaignPageContainer {
    text-align: center;
    max-width: 600px;
    margin: auto;
    left : 0;
    right : 0;
}

:local .CreateSimpleMessage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:local .TextArea {

}

:local .NaiyouComponent {
  margin-top: 50px;
  text-align: left;
}

:local .aaaa {
  margin-top: 50px;
  color: rgb(100, 100, 100);
  border-bottom: dashed 2px rgb(100, 100, 100);
  text-align: left;
}
