:local .CampaignPage {
	position: relative;
	height: auto;
	min-height: 100vh;
	padding: 80px 20px;
	overflow:hidden;
}

:local .CampaignPageContainer {
	text-align: center;
	max-width: 95%;
	margin: auto;
	left : 0;
	right : 0;
	overflow:hidden;
}

:local .CreateSimpleMessage {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

:local .WinnerListContainer {
	position: relative;
}

:local .TextArea {

}

:local .NaiyouComponent {
	/*margin-top: 50px;*/
	text-align: left;
	overflow:hidden;
}

:local .prize{
	flex-basis: 100%;
	position:relative;
	border: solid 5px #94CCAE;
	background-color:#FFFFFF;
	border-radius:10px;
	min-height:150px;
	min-width : 300px;
	max-width : 600px;
	margin:10px auto 30px auto;
	/* display:inline-block; */
	animation-name:"fadeIn" , "moveUp";
	animation-duration:3s;
	vertical-align: middle;
	right: 0px;
	left: 0px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

:local .prize_name {
	position:relative;
	top:10px; left:0; width:100%; height:30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	animation-name: "fadeIn";
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

:local .prize_name span{
	position:relative;
	top:-20px;
	left:-5px;
	background-color:#FFFFFF;
	vertical-align: middle;
	border-radius:10px;
	border: solid 5px #94CCAE;
	padding:3px;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

:local .setColorWhite{
	/*color:#FFF;*/
}

:local .winners{
}

:local ul{
	list-style: none;
	padding:0px;
}

:local li{
}

:local .probability{
	position:relative;
	left:0; height:60px; width:100%;
	padding:20px 20px 0px 20px;
	text-align:left;
	margin-top:10px;
	font-size:16px;
	background: #94CCAE;
}

:local .winnerList{
	position:relative;
	left:0; width:100%;
}

:local .winnerListTitle{
	position:relative;
	left:0; width:100%;
	font-size:20px;
	font-weight:bold;
	padding:5px;
	text-align: left ; 
	margin-bottom:5px;
	background-color:#94CCAE;
}

:local .winners{
}

:local .item_status{
	position:relative;
	left:0; width:100%; height:30px;
	margin:10px 0px;
	text-align:center;
	vertical-align: middle;
	font-size:20px;
	background-color: #94CCAE;
	padding:5px 0px;
}

:local .emphasise{
	font-weight:bold;
	font-size:20px;
}

:local .sad_text{
	text-align:center;
	margin:10px;
}

:local .BlackOut{
	position:absolute;
	top:2.85714286em;
	height:fill;
	left:0; width:100%;
	background-color:black;
	opacity:0.8;
}

:local .BackRect{
	position:absolute;
	top:40px;
	left:calc( 50% - 30% ); width:60%;
	padding: 10px 20px;
	border-radius:20px;
	background-color:white;
	border-color:10px;
	opacity:1;
	transform:translateY(0);
	animation-name: "fadeIn" , "moveUpWin";
	animation-duration: 3s;
	animation-fill-mode:forwards;
}

:local .EraseButton{
	position:absolute;
	top:-10px; height:40px;
	left:calc(100% - 30px); 
	width:40px;
}

#EraseLabel{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;

	position:absolute;
	top:0; height:100%;
	left:0; width:100%;
	border-radius:60px;
	border : solid 3px #d63031;
	background-color:white;
}

:local .EraseButton div{
	position:absolute;
	display:block;
	top:45%; height:10%;
	left:10%; width:80%;
	background-color: #d63031;
}

:local .EraseButton .Line1{
	transform:rotate(45deg);
}

:local .EraseButton .Line2{
	transform:rotate(135deg);
}

:local .WinImage{
	position:relative;
	max-width:60%;
}


@keyframes moveUp{
	0% { transform:translateY(50%)  }
	100% { transform:translateY(0%)  }
}

@keyframes moveUpWin{
	0% { transform:translateY(30%)  }
	100% { transform:translateY(0%)  }
}

@keyframes fadeIn{
	0% { opacity : 0  }
	70% {opacity : 0.5}
	100% { opacity : 1 }
}

:local .KiyakuFrame {
	text-align: left;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
