:local .TwitterLikeView {
  text-align: left;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: white;
  padding : 10px;
  background: white;
  margin: 10px;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3));
}

:local .FeedView {
  height : 120px;
  width : 200px;
  background-color: whitesmoke;
  margin:20px;
  transition: 0.3s; /*transitionは通常時にセット*/
}

:local .FeedView:hover {
  transform: scale(1.2);
}

:local .FeedImage {
  max-height: 50%
}

:local .FeedTitle {
  font-size: 10px;
}