:local .AdPage {
  /*background: url("../../images/cool-background-1.png");*/
  background: linear-gradient(177.36150817458883deg, rgba(250, 247, 245,1) 7.132627646326276%,rgba(226, 210, 196,1) 88.2036114570361%);
  background-size: cover;
  position: relative;
  height: auto;
  min-height: 100vh;
  margin : 30px 0px 0px 0px;
  padding: 20px 0px;
}



:local .AdPageContainer {
    text-align: center;
    max-width: 600px;
    margin: auto;
    left : 0;
    right : 0;
}

:local .marginFrame {
  padding-left: 10px;
  padding-right: 10px;
}

:local .titleAndContentFrame {
  background: white;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding:10px;
  margin: 30px auto;
  height : auto ;
  width  : auto ;
  max-width : 500px;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3));
}

:local .TitleComponent {
  margin-top: 20px;
}

:local .ContentComponent {
  margin : 40px 10px 50px 10px;
}

:local .stickyBottom {
  position: fixed;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  bottom: 10px;
  height : 70px;
  width : 100%;
  max-width: 600px;
  border: solid thin #C0C0C0;
  background: white;
  filter: drop-shadow(0px -2px 2px rgba(0,0,0,0.3));
}

:local .boxFrame {
  height : 100% ;
  margin : auto;
  right : 0 ;
  left : 0;
}

:local .rightBox {
  float : right;
  width:50%;
  height:100%;
  text-align: right;
}

:local .leftBox {
  float : left;
  width:50%;
  height:100%;
  text-align: left;
}

:local .returnText {
  display: flex;
  align-items: center;
  margin:auto;
  height : 100%;
  margin : 0px 0px 0px 20px;
  text-align: left;
}

:local .actionButton {
  margin : 15px;
}

:local .return {
  color : #0984e3;
}

:local .title {
  text-align: center;
}

:local .username_frame {
  width : 100%;
  text-align: right;
  padding-right: 10px;
}

:local .username {
  color : #636e72;
}

:local .content {
}

:local .mainImage {
  max-width :100%;
	max-height: 100%;
	object-fit: cover;
}

:local .wrapper {
  width: auto;
  height: 50vw;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

:local .justSpace {
  height : 100px;
}

:local .RatingComponent {
  margin-top: 50px;
  text-align: center;
}

.image-gallery-slide img {
  width: auto;
  height: 400px;
	object-fit: cover;
}

:local .p_line {
  line-height: 1
}
