.AdCreatePage h1 {
  color:white
}

.AdCreatePage > div {
  margin-bottom: 50px;
}


.AdCreatePage {
  text-align: center;
  padding: 100px;
  margin : 100px;
  background:#008080;;
}

.AdCreatePage-TitleCreateComponent-frame {
  text-align: center;
}

.AdCreatePage-TitleCreateComponent {
  text-align: center;
  margin: 0 auto;
  width : 30em;
}

.AdCreatePage-TitleCreateComponent-textfield-frame {
  text-align: center;
}

.AdCreatePage-TitleCreateComponent-select-frame {

}

.AdCreatePage-ImageSelectSlider-ImageFrame {
  width:300px;
  height: 150px;
  padding: 10px;
  background:white;
}

.AdCreatePage-ImageSelectSlider-Image {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.AdCreatePage-DecorateImageComponent {
  text-align: center;
}

.AdCreatePage-DecorateImageComponent-Image {
  width:auto;
  height:auto;
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
  background: white;
}
