

.AdCreatePage h1 {
  font-family:  'Amatic SC', cursive;

}



.AdCreatePage {
  display: grid;
  padding: 30px;
  grid-template-columns: [col1] 50% [col2] 50%;
  grid-template-rows: [row1] 50% [row2] 50%;
  text-align: center;
  background-color: #8dd0e0e1;
}


.AdCreatePage-TitleCreateComponent-frame {
  grid-column: 1/3 ;
  grid-row: 1 ;
  background-color:  rgba(36, 224, 114, 0.849);
  padding: 50px 50px;
  border-radius: 100px ;
  
}

.AdCreatePage-DecorateImageComponent-frame1 {
  grid-column: 1/3 ;
  grid-row: 2 ;
  background-color: rgba(36, 224, 114, 0.849);
  padding: 25px;
  border-radius: 100px;
  
}

.AdCreatePage-DecorateImageComponent-frame2 {
  
  background-color: rgb(36, 224, 114, 0.849);
  padding: 30px;
  border-radius: 100px;
}

.AdCreatePage-ImageSelectSlider-Image {
 
  padding: 30px 0px;
  max-width:100%;
  max-height:100%;
  background-color:rgba(36, 224, 61, 0.849)
}

.AdCreatePage-AdImageUploader-frame {
  background-color: rgb(36, 224, 114, 0.849);
  padding: 30px;
  border-radius: 100px;
}

.AdCreatePage-ReturnSelection-frame {
  background-color: rgb(36, 224, 114, 0.849);
  padding: 30px;
  border-radius: 100px;
}

.AdCreatePage-ReturnCreate-frame {
  background-color: rgb(36, 224, 114, 0.849);
  padding: 30px;
  border-radius: 100px;
}

.send {
  grid-column: 1/3 ;
  grid-row: 5 ;
  background-color: rgb(36, 224, 114, 0.849);
  padding: 30px;
  border-radius: 100px;
}
/*
.AdCreatePage h1 {
  color:pink
}

.AdCreatePage > div {
  margin-bottom: 50px;
}


.AdCreatePage {
  text-align: center;
  padding: 10px;
  margin : 100px 20px;
  background:#008080;;
}

.AdCreatePage-TitleCreateComponent-frame {
  text-align: center;
}

.AdCreatePage-TitleCreateComponent {
  text-align: center;
  margin: 0 auto;
  width : 30em;
}

.AdCreatePage-TitleCreateComponent-textfield-frame {
  text-align: center;
}

.AdCreatePage-TitleCreateComponent-select-frame {

}

.AdCreatePage-ImageSelectSlider-ImageFrame {
  width:300px;
  height: 150px;
  padding: 10px;
  background:white;
}

.AdCreatePage-ImageSelectSlider-Image {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.AdCreatePage-DecorateImageComponent {
  text-align: center;
}

.AdCreatePage-DecorateImageComponent-Image {
  width:auto;
  height:auto;
  margin: 0 auto;
  max-width:100%;
  max-height:100%;
  background: white;
}
*/