/*TODO : 見た目、フォント、画像ごとのカスタマイズ？ */

.AdCreatePage-DecorateImageComponent-ImageFrame {
  width:500px;
  height: 350px;
  padding: 30px;
  text-align: center;
  margin: auto;
}

.AdCreatePage-DecorateImageComponent-ImageFrame-WithText {
  position: relative;/*相対配置*/

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}


.AdCreatePage-DecorateImageComponent-ImageFrame-WithText .AdCreatePage-DecorateImageComponent-title{
  position: absolute;/*絶対配置*/
  top: 0%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 1;
}

.AdCreatePage-DecorateImageComponent-ImageFrame-WithText .AdCreatePage-DecorateImageComponent-description{
  position: absolute;/*絶対配置*/
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 1;
}

.AdCreatePage-DecorateImageComponent-ImageFrame-WithText img {
  width: 100%;
  z-index: 10;
}
