:local .Image {   
    
    padding: 50px;
    max-width :25%;
    max-height: 10%;
    margin:auto;
    justify-content: center;
}
:local .ImagePhone{  
    padding-top: 50px; 
    max-width :50%;
    max-height: 20%;
    margin:auto;
    justify-content: center;
}

:local .Text_for_only {

    padding: 100px;
}

:local .segment {
    max-width :50%;
    max-height: 20%;
    margin:auto;
}


:local .Rating {
    padding: 50px;
}