:local .LoginedTopPage {
    position: relative;
    height: auto;
    min-height: 100vh;
    margin : 30px 0px 0px 0px;
    padding: 20px 10px;
  }
  

:local .LoginedTopPageContainer {
    padding : 60px 0px;
    max-width: 600px;
    margin: auto;
    left : 0;
    right : 0;
  }

  :local .dotLine {
    color: rgb(100, 100, 100);
    border-bottom: dashed 2px rgb(100, 100, 100);
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
  }

  :local .button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  :local .ButtonMenuComponent {
    margin-bottom : 60px;
  }