
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html, body, #root {
  height: 100%;
  overflow-y: scroll;
}

.demo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

  .list {
    width: 320px;
    height: 400px;
  }

  .list-item {
    position: absolute;
    background-color: #a0584bef;
    width: 320px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: rgb(109, 117, 139);
    height: 70px;
    line-height: 70px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
