:local .TopPage {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(97, 94, 94, 0.931);
}

:local .text1 {
  padding-top: 550px;
  font-size: 100px;
  font-family: "Ravi Prakash", cursive;
  text-align: center;
  color: rgba(255, 255, 255, 0.931);
}

:local .text2 {

  font-size: 30px;
  font-family: "Ravi Prakash", cursive;
  text-align: center;
  color: rgba(255, 255, 255, 0.931);
}

:local .text3 {
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.931);
}


:local .twitter_button{
  position: absolute;
  left: 48%;
  margin-left: -300px;
  margin-top: 100px;
}

:local .login_button{
  position: absolute;
  right: 45%;
  margin-right: -250px;
  margin-top: 100px;
}
