.tran-appear {
  opacity: 0.0; 
   
}
.tran-appear-active {
  opacity: 1.0;   
  transition: opacity 1800ms ease-in-out;
}

:local .TopPage {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: undefined;
  background: linear-gradient(-45deg,rgba(5, 172, 175, 0.9), rgba(0, 28, 187, 0.9)),
  url(../../images/141117-twitter.png);
  background-size: 100vw 100vh; 
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . Title Title Title . ." ". . Text Text Text . ." ". . Text Text Text . ."  ". Button Button . Button2 Button2 ." ;
}

:local .TopPage2ndlayer {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr ;
  grid-gap: undefined;
  
  grid-template-areas: ". . . . . . ." ". icon . icon2 . icon3 ." ". . . . . . ."  ;
}

:local .TopPage2 {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
  grid-gap: undefined;
  background: linear-gradient(-45deg,rgba(6, 217, 221, 0.9), rgba(0, 72, 187, 0.9)),
  url(../../images/141117-twitter.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  grid-template-areas:". . . . . . ." ". . Title Title Title . ." ". Text Text Text Text Text ." ". Text Text Text Text Text ."  ". Button Button . Button2 Button2 ." ;
}
:local .TopPage2ndlayer_2 {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr ;
  grid-gap: undefined;
  
  grid-template-areas: ". . icon icon icon . ." ". . icon2 icon2 icon2 . ." ". . icon3 icon3 icon3 . ."  ;
}

:local .TopPage3 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: undefined;
  background-color: rgba(87, 84, 84, 0.931);
  grid-template-areas:  ". . . . . . ." ". . Title Title Title . ." ". . Text Text Text . ." ". . Text Text Text . ."  ". Button Button . Button2 Button2 ." ". . . . . . ." ". . . icon . . ." ". . . icon2 . . ." ". . . icon3 . . ."". . . . . . ." ". . . . . . ." ". . . . . . .";
}

:local .title { grid-area: Title; }
:local .text1 {
  grid-area: Title;
    font-size: 150px;
    font-family: "Ravi Prakash", cursive;
    color: rgba(255, 255, 255, 0.931);
}

:local .text1_2 {
  font-size: 50px;
  font-family: "Ravi Prakash", cursive;
  color: rgba(255, 255, 255, 0.931);
}

:local .text1_3 {
  font-size: 70px;
  font-family: "Ravi Prakash", cursive;
  color: rgba(255, 255, 255, 0.931);

}

:local .Text { grid-area: Text; }

:local .text2 {

    font-size: 30px;
    font-family: "Ravi Prakash", cursive;
    color: rgba(255, 255, 255, 0.931);
}

:local .text2_2 {

  font-size: 15px;
  font-family: "Ravi Prakash", cursive;

  color: rgba(255, 255, 255, 0.931);
}

:local .text3 {
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.931);
  }

  :local .text3_2 {
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.931);
  }


:local .Button { grid-area: Button; }

:local .Button2 { grid-area: Button2; }


:local .icon {
  grid-area: icon;
}
:local .icon2 {
  grid-area: icon2;
}

:local .icon3 {
  grid-area: icon3;
}


:local .icon_text {
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.931);
}

:local .icon_text2 {
  font-size: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.931);
}