:local .Toppage_show_example{
    width: 100vw;
    height: 100vh;
    background-color: rgb(171, 177, 89);
    display: grid;
    position: relative;
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: undefined;
    
    grid-template-areas: ". . . . . . ." "text_tweet text_tweet text_tweet text_tweet  . FeedView1 ." ". . . . . . ." ". . . . . . ." ". FeedView2 . text_follow text_follow text_follow text_follow" ". . . . . . ."  ;
}

:local .Toppage_show_example_p{
    width: 100vw;
    height: calc(100vh + 150px);
    background-color: rgb(171, 177, 89);
    position: relative;
   
  }

  :local .FeedView1_p {

    padding-right: 15px ;
    padding-left: 15px ;
    padding-top:40px;
    padding-bottom:10px;  
    grid-area: FeedView1;
    animation-name: "fadeIn";
    animation-duration: 3s;

    /* width: 30px; */

}

:local .text_tweet_p {
    padding: 15px ; 
    font-family:  Impact;
    font-size: 5vmin;

    color: black;

    animation-name: "fadeIn";
    animation-duration: 3s;
  }

:local .text_follow_p {
    padding: 15px ; 
    font-family:  Impact;
    font-size: 5vmin;

    color: black;

    animation-name: "fadeIn";
    animation-duration: 3s;
  }

:local .FeedView2_p {
    padding-right: 15px ;
    padding-left: 15px ;
    padding-top:40px;
    padding-bottom:10px; 
    animation-name: "fadeIn";
    animation-duration: 3s;
}
/*:local .Toppage_show_example_p{
    width: 100vw;
    height: 100vh;
    background-color: rgb(171, 177, 89);
    display: grid;
    position: relative;
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: undefined;
    
    grid-template-areas: ".  . FeedView1 .  ." ". text_tweet text_tweet text_tweet ."  ". . FeedView2 . ." ". text_follow text_follow text_follow ."". . . . ."   ;
  }*/

  @keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


  :local .FeedView1 {
    /* padding: 15px ; */
     grid-area: FeedView1;  
    animation-name: "fadeIn";
    animation-duration: 3s;
}

:local .text_tweet {
    grid-area:text_tweet;
    animation-name: "fadeIn";
    animation-duration: 3s;
  }

:local .FeedView2 {
    /* padding: 15px ; */
    grid-area: FeedView2;  
    animation-name: "fadeIn";
    animation-duration: 3s;
}


  :local .text_follow {
    grid-area:text_follow;
    font-size: 5vmin;

    animation-name: "fadeIn";
    animation-duration: 3s;
  }

  :local .Toppage_show_example_t {
    width: 100vw;
    /* height: 100vh; */
    background-color: rgb(171, 177, 89);
}

:local .mainText {
    font-size: 30px;
    color: black;
}

:local .subText {
    font-size: 20px;
}

:local .text_tweet_t {
    margin-top: 30px;
}

:local .ExampleGroupVertical {
    display: flex; /* 変更なし */
    flex-direction: column; /* 変更なし */
    justify-content: center; /* 変更なし */
    align-items: center; /* 変更なし */
    height : 50%;
    padding-top : 30px;
    padding-bottom: 40px;
}