.AdCreatePage {
  background: url("../../images/007-subtle-light-patterns.jpg");
  background-size: auto ;
  position: relative;
  height: auto;
  min-height: 100vh;
  margin : 30px 0px 0px 0px;
  padding: 20px 0px;
}

:local .StickyRightSideBar {
  position: -webkit-sticky;
  position: sticky;
  width:60px;
  top: 50px;
  right: 0px;
  z-index: 100;
}

.AdCreatePage-Title {
  text-align: left
}

.AdCreatePageForPaddingFrame {
  padding : 0px 20px;
}

.AdCreatePage-ComponentFrame {
  position: relative; /*OKボタン用*/
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding:20px;
  margin: 30px auto;
  height : auto ;
  width  : auto ;
  max-width : 600px;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3));
  background: white;
}

:local .tateMargin {
  margin :  30px 0px;
}

:local .description {
  margin : 20px 10px 20px 10px ;
}

:local .descriptionText {
  font-size: 18px;
}

.OkButtonCorner {
  position: absolute;
  right:8px;
  bottom:8px;
}

:local .OkButtonFrame {
  position:relative;
  height : 50px;
}

.AdCreatePage-TitleCreateComponent {
  text-align: left;
}

.TwitterLikeComponent {
  text-align: left;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: white;
  padding : 10px;
  filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3));
}

:local .RetweetAdCreate {
}

:local .RetweetAdCreateCheckBox {
  text-align: left;
  margin:10px 0px;
}

:local .image {
}

:local .imageFrame {
  padding:10px 0px 0px 0px;
}

:local .p_line {
  line-height: 1
}

/*semantic ui 上書き*/
#typeselect.ui.button {
  margin: 0 .5em .5em 0;
}

.invalidImage {
  opacity: 0.3;
}

:local .AdImageUploaderModal {
  text-align: right;
}

:local .AdImageUploaderModalFrame {
  margin : 10px;
}

:local .previewImavge {
  max-height : 100px;
  max-width : 100px;
}

.fileContainer .deleteImage {
  position: absolute !important;
  top: -9px !important;
  right: -9px !important;
  font-size: 8px !important;
  color: #fff !important;
  background: #ff4081 !important;
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
  text-align: center !important;
  line-height: 15px !important;
  cursor: pointer !important;
}

:local .center{
  text-align: center;
}