.Header-logo {
  animation: Header-logo-spin infinite 5s linear;
  height: 80px;
}

.Header-header {
  background-color: #222;
  color: white;
}

.Header-title {
  font-size: 1.5em;
  margin: 10px
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
