.App {
  text-align: center;
}

.App-Header {
  /*制御できない*/
}

.App-Component {
  margin: 50px 0px;
}

/*グローバル設定*/
h1, h2 , h3 {
  font-family: arial, sans-serif;
}

p {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ,
}

body {
  background: #b2bec3;
}
