:local .CampaignDescriptionPage {
    position: relative;
    height: auto;
    width : 100vw; 
    min-height: 100vh;
    background: linear-gradient(-45deg,rgba(5, 172, 175, 0.9), rgba(0, 28, 187, 0.9));
    background-size: contain;
    background-position: center ;
    background-repeat: no-repeat;

}
  
:local .CampaignDescriptionPageContainer {
    padding-top: 100px; 
}

:local .CampaignDescriptionPageContainer h1 {
    color : white;
}